.section {
 background-color: red;
 padding:20px;
}

h1 {
    font-size: 100px;
    color: blue;
    text-align: center;
    font-family: "Anton",  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.center-image {
    text-align: center;
    background-image: url("https://s.w-x.co/buffalo-bills-snow-10dec17-ap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}

.wikisays {
    float: left;
    position: relative;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgba(13, 98, 217, 0.459);
    padding: 20px;
    border-radius: 100px;
    opacity: .7;
}

